# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment (TBD)
.venv/
env/
venv/

# Environment variable file
.env

# FAISS vector store files
vera_index.faiss
vera_id_map.pkl

# nohup logs or background output
nohup.out

# Node (TBD)
node_modules/

# MongoDB dump or backup (TBD)
dump/
*.bson
*.json~

# GraphQL schema artifacts (TBD)
*.graphql
*.graphqls

# All Logs
*.log